:root{
    --btnCOlor: #e7e7e7;
    ---Vert: #785E75;
   ---bg: #ECFDFF;
   /* Debut Accueil page css*/
   /* ---bg: black; */
   }
   
   /* a,
   h1,h2,h3,h4,h5,h6,p{
       color: #ffffff;
   }
   li a {
       color: white;
   }
   li{
       border-color: white;
   } */
   h5, h3, p{
    color: white;
   }
   body{
       background-color:var(---bg) ;
       margin: 0;
       padding: 0;
       box-sizing: border-box;
       font-family: 'Sansita', sans-serif;
       background-image: url('../img/bg.jpg');
       background-size: cover;
        background-color: rgba(22, 27, 29, 0.7);
        background-blend-mode: soft-light;
   }
 
   
   /* Debut Login page css*/
   .content-login{
       width: 100%;
       height: 100vh;
       display: flex;
       justify-content: center;
       align-items: center;
       
   }
   .centered{
       width: 30rem;
       height: 30rem;
       background-color: rgb(255, 255, 255);
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
       box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
   }
   .centered img{
       width: 10rem;
       height: 5rem;
       margin-bottom: 20px;
   }
   .centered input{
       width: 17rem;
       height: 2rem;
       margin-bottom: 40px;
       border-radius: 5px;
       border: 0.1rem solid gray;
   }
   .centered input::placeholder{
       text-align: center;
   }
   .link-d{
       margin-bottom: 20px;
   }
   .link-d a{
       color: black;
       margin-right: 20px;
      
   }
   .link-d a:hover{
       color: black;
      
   }
   .btnLog button{
       width: 10rem;
       height: 2.5rem;
       background-color: var(---Vert);
       border: none;
       color: white;
       border-radius: 5px;
   }
   .centeredCreate{
       width: 30rem;
       height: 35rem;
       background-color: rgb(255, 255, 255);
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
       box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
   
   }
   .centeredCreate img{
       width: 10rem;
       height: 5rem;
       margin-bottom: 10px;
   }
   .centeredCreate input{
       width: 17rem;
       height: 2rem;
       margin-bottom: 20px;
       border-radius: 5px;
       border: 0.1rem solid gray;
   }
   .centeredCreate input::placeholder{
       text-align: center;
   }
   .msg{
    color: red;
   }
   /* Fin Login page css*/
   /* debut accueil page css*/
   .main{
    width: 1140px;
    margin: 0 auto;
   }
   .profi{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom:20px;
   }
.blocdes{
    width:30%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.blocdes .btndes{
    height:2rem;
    background-color: var(---Vert);
    color: white;

}
.insert{
    width:100%;
    margin-bottom: 50px;
}
.insert h3{
    text-align: center;
}
.inserForm{
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.inserForm input{
    height: 2rem;
}
.inserForm button{
    width: 15rem;
    height: 2rem;
    border: none;
    background-color:var(---Vert);
    color: white;
}
.edit{
    background-color: blue;
    color: white;
    width: 12rem;
}
.bannir{
    background-color: red;
}
.bl button{
    width: 6rem;
    height: 2rem;
    border:none;
    color:white;
}
table{
	
    margin: 1rem auto;
    text-align: center;
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    border: 1px solid
    
    }
            
        
    thead{
    
    background-color: var(---Vert);
    color: white
    
    }
       td{
        color: #06b7ab;
       } 
    
    th,td{padding:8px 0}
    
    tbody tr:nth-child(even) {
        
    background-color:var(---bg)
        
    }
        
    @media only screen and (max-width: 800px) {
            
    table, 
    thead, 
    tbody, 
    th, 
    td, 
    tr{ 
        
    display: block
        
    }
        
    thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
    }
     
     
     
    td { 
        
    position: relative;
    padding-left: 50%; 
    white-space: normal;
    text-align: left
        
        }
     
    td:before { 
        
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%; 
    padding-right: 10px; 
    font-weight: bold;
    white-space: nowrap;
    text-align:left;
    /* content: attr(data-title) */
        
        }
    }
    
    
    
   
   /* Fin accueil page css*/
@media screen and (max-width:1000px) {
    .main{
        width: 100%;
        height: auto;
    }
    .profi{
        width: 100%;
        display: flex;
        justify-content: space-around;
       }
}